@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=League+Spartan:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'League Spartan', sans-serif;

    text-transform: capitalize;
}

:root {
    --black: #222;
    --box-shadow: 0rem 0rem 2rem .1rem #ddd;
    --light-black: #1a1a1a;
    --lg-green: #088178;
    --creem: #e9bf71;
    --margin-st: 3rem 0rem 3rem 0rem;
    --padding-st: 0rem 2.5rem 0rem 2.5rem
}

html {
    font-size: 65.2%;
    scroll-behavior: smooth;
}

h1 {
    font-size: 5rem;
    width: 100%;
    line-height: 6.4rem;
    color: var(--black);
}

h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    width: 100%;

    color: var(--black);
}

h4 {
    font-size: 3.5rem;
    line-height: 2.5rem;
    width: 100%;

    color: #222;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;

}

section {
    width: 100%;

}

.section-mg {
    margin: 2rem 0rem 2rem 0rem;
}

.section-pg {
    padding: 0rem 3rem 0rem 3rem;
}


p {
    font-size: 2rem;
    color: #465b52;
    width: 100%;

}

ion-icon {
    font-size: 3rem;
    font-weight: 600;
}

body {
    font-size: 2.5rem;
    color: #222;
    background: #fff;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background: #e3e6f3;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;

    color: var(--light-black);
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: .4rem;
    width: 60%;
    background: var(--lg-green);
}

.navbar li a:hover,
.navbar li a.active {
    color: var(--lg-green);
    width: 100%;
}



/* ------hero section pages css------- */

.hero {
    background: url("img/hero4.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top 15% right 0rem;
    background-size: cover;
    width: 100%;

    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    gap: 2.5rem;
}

.hero h1 {
    font-size: 9rem;
    width: 100%;
    color: var(--lg-green);
}

.hero h4 {
    font-size: 4rem;
    padding-bottom: 3rem;
}

.hero h2 {
    font-size: 7rem;
}

.hero p {
    font-size: 4rem;
    padding-bottom: 3rem;
}

.hero .btu {
    padding: 1.4rem 8rem 1.4rem 6.5rem;
    background: url(img/logo/button.png);
    transform: scale(2);
    font-size: 2rem;
    margin-left: 7rem;
    color: var(--lg-green);
    text-decoration: none;
}

/* ------hero section pages css------- */


/* ------fetutres  section pages css------- */

.fetures {
    width: 100%;
    padding: var(--padding-st);
    padding: 0rem 2rem 0rem 2rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));


}

.fetures .fetures-box {
    padding: 4rem 2rem 4rem 2rem;
    background: #ffff;
    box-shadow: var(--box-shadow);
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetures .fetures-box h4 {
    margin-top: 3rem;
    padding: 1rem;
    color: #465b52;
    text-align: center;
    border-radius: 1rem;
    background: #f8e0c1de;
    font-size: 2.5rem;
}

.fetures .fetures-box:nth-child(2) h4 {
    background: rgb(174, 235, 125);
}


.fetures .fetures-box:nth-child(3) h4 {
    background: rgb(141, 208, 228);
}

.fetures .fetures-box:nth-child(4) h4 {
    background: rgb(228, 141, 141);
}

.fetures .fetures-box:nth-child(5) h4 {
    background: rgb(208, 141, 228);
}

.fetures .fetures-box:nth-child(6) h4 {
    background: rgb(156, 141, 228);
}

/* ----------------ferture section css end------------- */



/* -----------product section css strat---------------- */

.heading {
    text-align: center;
    width: 100%;
    margin: var(--margin-st);
}

.products {
    margin: var(--margin-st);
    flex-direction: wrap;
    display: flex;
    /* justify-content: center;
    align-items: center;  */
    flex-direction: column;
    width: 100%;
}

.product {
    display: grid;
    /* grid-template-columns:repeat(auto-fit, minmax(60rem,1fr)); */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.5rem;

}

.product .pro-box {
    border-radius: 2rem;
    padding: 2rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    box-shadow: var(--box-shadow);
}

.pro-box img {
    border-radius: 2rem;
    width: 100%;
}

.pro-box .pro-text {
    line-height: 5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.pro-box .pro-text span {
    font-size: 2rem;
    color: #465b52;
}

.pro-box .pro-text h4 {
    color: var(--light-black);
    font-weight: 500;
    font-size: 2.5rem;
}

.pro-box .pro-text h4 ion-icon {
    font-size: 2.5rem;
    margin: .6rem 0rem .2rem 0rem;
    color: #d9f345;

}

.pro-box .pro-text h5 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--lg-green);
}

.pro-box a {
    bottom: 2rem;
    right: 2rem;
    color: var(--lg-green);
    background: #e3e6f3;
    padding: 1.5rem;
    border: 1pa solid #ddd;
    border-radius: 5rem;
    position: absolute;
}


/* -----------product section css strat---------------- */


/* -----------benner section css strat---------------- */

.btu {
    /* cursor: pointer; */
    color: #333;
    text-decoration: none;
    background: #eee;
    border-radius: .5rem;
    transition: 0.5s background;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
}

.btu:hover {
    color: #eee;
    background: #088178;
}

#benner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 5rem;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding: 4rem 0rem 4rem 0rem; */
    /* max-height: 25rem */
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#benner h4 {
    color: #eee;
    font-weight: 500;
    margin-bottom: 2rem;
}

#benner h2 {
    color: #eee;
    font-weight: 400;
    margin-bottom: 2rem;
}

#benner h2 span {
    color: rgb(241, 95, 95);
    font-weight: 500;
    margin-bottom: 2rem;
}


.benner-1 {
    background: url("img/banner/b2.jpg");
}

.benner-2 {
    background: url("img/banner/1.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 40vh;
    /* justify-content: center;
    align-items: flex-start; */
}


#se-benner{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
#se-benner div .benner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
        padding-left:8rem ;
    line-height: 5rem;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   background: url(img/banner/2.jpg)  no-repeat;
   
}


#se-benner div .benner-box h4{
    margin-bottom: 1rem;
    color: #444;
    font-weight: 600;
    font-size: 3rem;
}

#se-benner div .benner-box h2{
    color:var(--light-black);
}

#se-benner div .benner-box span{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

#se-benner .row-1{
display: flex;
flex-direction: row; 
gap: 1rem;
}

#se-benner .row-1 .benner-box:nth-child(1) {
    background: url("img/banner/2.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner div .benner-box .btu{
    background: transparent;
    border: .3rem solid #eee;
    color: #eee;
    padding: .4rem 2rem .4rem 2rem;
    font-size: 700;
    font-size: 2.5rem;
    
}

#se-benner .row-1 .benner-box:nth-child(2) {
    background: url("img/banner/b3.jpg") no-repeat  center;
    background-size: cover;
}


#se-benner .row-2 .benner-box:nth-child(1) {
    background: url("img/banner/b4.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner .row-2 .benner-box:nth-child(2) {
    background: url("img/banner/b17.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner .row-2 .benner-box:nth-child(3) {
    background: url("img/banner/b7.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner .row-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    width: 100%;
}


#sing-in{
    display: flex;
    flex-direction: row;
    width: 100%;

}

 .benner-box{
    width: fit-content;
    display: flex;
    flex: 1 1 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    color: #eee;
    height: 100%;

}

.benner-box h2{
color: #eee;
font-weight: 500;
margin-bottom: 1rem;
}

.benner-box h3{
color:var(--creem);
font-weight: 400;
font-size: 3.5rem;
}

.email-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.email-box input{
    background: #eee;
    padding: 0rem 2rem 0rem 2rem ;
    border: none;
    outline: none;
    font-size: 2rem;
    border-radius: .5rem;
}

.email-box .btu{
background: var(--lg-green);
color: #eee;
}