@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=League+Spartan:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
    
    text-transform: capitalize;
}

:root{
    --black:#222;
    --box-shadow: 0rem 0rem 2rem .1rem #ddd;
    --light-black: #1a1a1a;
    --lg-green: #088178;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1{
    font-size: 5rem;
    width: 100%;
    line-height: 6.4rem;
    color: var(--black);
}

h2{
    font-size: 4.6rem;
    line-height: 5.4rem;
    width: 100%;

    color: var(--black);
}

h4{
    font-size: 2rem;
    line-height: 2.5rem;
    width: 100%;

    color: #222;
}

h6{
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;

}

section{
width: 100%;

}
.section-mg{
    margin: 2rem 0rem 2rem 0rem;
}

p{
    font-size: 2rem;
    color:#465b52 ;
    width: 100%;

}

ion-icon{
    font-size: 3rem;
    font-weight: 600;
}

body{
    font-size: 2.5rem;
    color: #222;
    background: #fff;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background: #e3e6f3;
    padding: 2rem;
    box-shadow: var(--box-shadow) ;
    justify-content: space-between;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.navbar li {
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    
    color: var(--light-black);
}

.navbar li a.active::after , .navbar li a:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: .4rem;
    width:60%;
    background: var(--lg-green);
}
.navbar li a:hover , .navbar li a.active{
    color:var(--lg-green);
    width: 100%;
}



/* ------hero section pages css------- */

.hero{
    background: url("img/hero4.png") ;
background-repeat: no-repeat;
    height: 100vh;
    background-position: top 15% right 0rem;
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    gap: 2.5rem;
}

.hero h1{
    font-size: 9rem;
    width:100%;
    color: var(--lg-green);
}

.hero h4{
    font-size: 4rem;
    padding-bottom: 3rem;
}

.hero h2{
    font-size: 7rem;
}

.hero p{
    font-size: 4rem;
    padding-bottom: 3rem;
}

.hero .btu{
    padding: 1.4rem 8rem 1.4rem 6.5rem;
    background: url(img/logo/button.png);
    transform:  scale(2);
    font-size: 2rem;
    margin-left: 7rem;
    color: var(--lg-green);
    text-decoration: none;
}

/* ------hero section pages css------- */


/* ------fetutres  section pages css------- */

.fetures{
    width: 100%;
    display: grid;
    grid-gap: 3rem;
    padding: 0rem 2rem 0rem 2rem;
    grid-template-columns: repeat(5,1fr) ;

}
.fetures .fetures-box{
    background: #eee;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetures .fetures-box{
    
}