@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=League+Spartan:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'League Spartan', sans-serif;

    text-transform: capitalize;
}

:root {
    --black: #222;
    --box-shadow: 0rem 0rem 2rem .1rem #ddd;
    --light-black: #1a1a1a;
    --lg-green: #088178;
    --creem: #e9bf71;
    --lg-blue: #2FDEC2;
    --red:#e48383;
    --margin-st: 3rem 0rem 3rem 0rem;
    --padding-st: 0rem 2.5rem 0rem 2.5rem
}

html {
    font-size: 65.2%;
    scroll-behavior: smooth;
}

span{
   color: var(--creem); 
}

h1 {
    font-size: 5rem;
    width: 100%;
    line-height: 6.4rem;
    color: var(--black);
}

h2 {
    font-size: 4.6rem;
    line-height: 5.4rem;
    width: 100%;

    color: var(--black);
}

h4 {
    font-size: 3.5rem;
    line-height: 2.5rem;
    width: 100%;

    color: #222;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;

}

section {
    width: 100%;

}

.section-mg {
    margin: 2rem 0rem 2rem 0rem;
}

.section-pg {
    padding: 0rem 2rem 0rem 2rem;
}


p {
    font-size: 2rem;
    color: #465b52;
    width: 100%;

}

ion-icon {
    font-size: 3rem;
    font-weight: 600;
}

body {
    font-size: 2.5rem;
    color: #222;
    background: #fff;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background: #e3e6f3;
    padding: 2rem;
    transition: 0.5rem;
 
    box-shadow: 0rem 0rem 1rem .1rem #bbb;
    justify-content: space-between;
}

.header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

.header div a{
    color: #333;
}

#sidemenu{
    transition: 0.5rem;
transition: all 0.5s;
}
.navbar {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    z-index: 100;
}

.navbar li {
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;

    color: var(--light-black);
}

.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: .4rem;
    width: 60%;
    background: var(--lg-green);
}

.navbar li a:hover,
.navbar li a.active {
    color: var(--lg-green);
    width: 100%;
}



#menu-btu{
    display: none;
}

/* ------hero section pages css------- */

.hero {
    background: url("img/hero4.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: top 0% right 0rem;
    background-size: cover;
    width: 100%;

    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
    gap: 2.5rem;
}

.hero h1 {
    font-size: 9rem;
    width: 100%;
    color: var(--lg-green);
}

.hero h4 {
    font-size: 4rem;
    padding-bottom: 3rem;
}

.hero h2 {
    font-size: 7rem;
}

.hero p {
    font-size: 4rem;
    padding-bottom: 3rem;
}

.hero .btu {
    padding: 1.4rem 8rem 1.4rem 6.5rem;
    background: url(img/logo/button.png);
    transform: scale(2);
    font-size: 2rem;
    margin-left: 7rem;
    color: var(--lg-green);
    text-decoration: none;
}

/* ------hero section pages css------- */

/* ------about pages css------- */
.about{
    display: flex;
    width: 100%;
}

.about .about-main{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.about .about-main .about-img{
    display: flex;
    flex:1 1    40rem;
}

.about .about-main .about-img img{
    width: 100%;

}

.about .about-main .about-text{
    flex-direction: column;
    flex:  1 1 40rem;
    display: flex;
    padding-top: 3rem;
    line-height: 2rem;
}

.about .about-main .about-text h1{
    font-size: 5rem;
    font-weight: 600;
}

.about .about-main .about-text p{
    color: #666;
    font-size: 2.3rem;
    line-height: 2.3rem;
}

.about .about-main .about-text abbr{
    line-height: 2.3rem;
    font-weight: 600;
    color: #777;
}
.about .about-main .about-text marquee{
    padding: .5rem 0rem .5rem 0rem;
}

.app-dow{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.app-dow .video{
    display: flex;
    margin-top: 2rem;
}
.app-dow .video iframe{
    height: 50rem;
    width: 100%;
}
/* ------about pages css end------- */

/* ------fetutres  section pages css------- */

.fetures {
    width: 100%;
    padding: var(--padding-st);
    padding: 0rem 2rem 0rem 2rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));


}

.fetures .fetures-box {
    padding: 4rem 2rem 4rem 2rem;
    background: #ffff;
    box-shadow: var(--box-shadow);
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetures .fetures-box h4 {
    margin-top: 3rem;
    padding: 1rem;
    color: #465b52;
    text-align: center;
    border-radius: 1rem;
    background: #f8e0c1de;
    font-size: 2.5rem;
}

.fetures .fetures-box:nth-child(2) h4 {
    background: rgb(174, 235, 125);
}


.fetures .fetures-box:nth-child(3) h4 {
    background: rgb(141, 208, 228);
}

.fetures .fetures-box:nth-child(4) h4 {
    background: rgb(228, 141, 141);
}

.fetures .fetures-box:nth-child(5) h4 {
    background: rgb(208, 141, 228);
}

.fetures .fetures-box:nth-child(6) h4 {
    background: rgb(156, 141, 228);
}

/* ----------------ferture section css end------------- */
/*------about page css_-----------*/
.about{
  display: flex;
  width: 100%;
}




/* -----------product section css strat---------------- */

.heading {
    text-align: center;
    width: 100%;
    margin: var(--margin-st);
}

.products {
    margin: var(--margin-st);
    flex-direction: wrap;
    display: flex;
    /* justify-content: center;
    align-items: center;  */
    flex-direction: column;
    width: 100%;
}

.product {
    display: grid;
    /* grid-template-columns:repeat(auto-fit, minmax(60rem,1fr)); */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.5rem;

}

.product .pro-box {
    border-radius: 2rem;
    padding: 2rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    box-shadow: var(--box-shadow);
}

.pro-box img {
    border-radius: 2rem;
    width: 100%;
}

.pro-box .pro-text {
    line-height: 5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.pro-box .pro-text span {
    font-size: 2rem;
    color: #e2a637;
}

.pro-box .pro-text h4 {
    color: var(--light-black);
    font-weight: 500;
    font-size: 2.5rem;
}

.pro-box .pro-text h4 ion-icon {
    font-size: 2.5rem;
    margin: .6rem 0rem .2rem 0rem;
    color: #d9f345;

}

.pro-box .pro-text h5 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--lg-green);
}

.pro-box a {
    bottom: 2rem;
    right: 2rem;
    color: var(--lg-green);
    background: #e3e6f3;
    padding: 1rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 5rem;
    border-radius: 5rem;
    position: absolute;
}

.pro-box a ion-icon{
    font-size: 2rem;
}


/* -----------product section css end---------------- */

/*-----style in sproduct.html page---*/
.single-product{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
  }
  
  .single-product p{
    text-align: center;
  }
  
  .single-product .single-product-main{
    display: flex;
    width: 100%;
        gap:3rem;
        padding:0rem 3rem 0rem 3rem ;
        justify-content: center;
    flex-wrap: wrap;
    transition: all 0.5s;
    flex-direction: row;
  }
  
  .single-product .single-product-main .single-product-img{
      gap:1rem;
  flex:1 1 40rem;
  transition: all 0.5s;
 
    flex-direction: column;
    width:100%;
  }
  
  
  .single-product .single-product-main  .single-product-detile{
    display:flex;
    flex:1 1 40rem;
    width:100%;
  line-height: 3.5rem;
    flex-direction: column;
  }
  
  .single-product .single-product-main .single-product-img .single-product-main-img{
       display:flex;
       transition: all 0.5s;
 
  }
  
  
  .single-product .single-product-main .single-product-img .single-product-main-img img{
    width:100%;
    margin-bottom: 1rem
  }
  .single-product .single-product-main .single-product-img .single-product-row-img{
      flex-basis: 28%;
     display:flex;
     gap:1rem;
  }
  
  
  .single-product .single-product-main .single-product-img .single-product-row-img img{
    width: 100%;
  }
  
  .single-product .single-product-main .single-product-detile h6 {
   font-size: 3rem;
   font-weight: 200;
   line-height: 6rem;
  }
  .single-product .single-product-main .single-product-detile h4{
    font-size: 2.5rem;
    color:#333;
    font-weight: 500;
    margin:3rem 0 3rem 0;
  }
  
  .single-product .single-product-main .single-product-detile h1{
    font-size: 4rem;
    font-weight: 100;
    color:#333;
  }
  
  .single-product .single-product-main .single-product-detile .number{
    display:flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  
  .single-product .single-product-main .single-product-detile select{
    padding: 1.8rem;
    font-size: 2rem;
    margin: 1rem 1.5rem 0rem  0rem;
    width: 30%;
    outline: none;
  }
  .single-product .single-product-main .single-product-detile input {
    padding: 1rem;
    margin-top: 1rem;
    width: 30%;
    font-size: 2rem;
    outline: none;
  }
  
  .single-product .single-product-main .single-product-detile .button{
    width: 40%;
    padding: 1rem;
font-size: 2rem;
    border-radius: 1rem;
      margin: 3rem 0rem 3rem 0rem  ;
  background: #2FDEC2;
  border: none;
  color: #fff;
  }
  .single-product .single-product-main .single-product-detile .button:hover{
    background: #2B9D8B;
  
  }
/* -------------single page css ebd--------   */



/* -----------benner section css strat---------------- */

.btu {
    /* cursor: pointer; */
    color: #333;
    text-decoration: none;
    background: #eee;
    border-radius: .5rem;
    transition: 0.5s background;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
}

.btu:hover {
    color: #eee;
    background: #088178;
}

#benner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 5rem;
    flex-direction: column;
    flex-wrap: wrap;
     padding: 4rem 0rem 4rem 0rem; 
    /* max-height: 25rem */
    background-position: center;
    background-size: cover;
}

#page-header{
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

#page-header .page-main{
    width: 100%;
    filter: brightness(0.7);
    
}

#page-header  .page-main .benner-3{
    padding: 6rem 0rem 6rem;
    background: url('img/banner/b1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    color: #eee;
}

#blog{
    display: flex;
    width: 100%;
    padding: 7rem;
    flex-direction: column;
    gap: 15rem;
}

.blog-main{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 100%;
    position: relative;
}

#blog .blog-main h1{
    position: absolute;
    top:   -4.5rem;
    left: 0rem;
    font-size: 7rem;
    font-weight: 700;
    color: #eee;

}

.blog-main .blog-img{
    display: flex;
    flex:1 1 40rem;
    
     z-index: 100;
    
}

.blog-main .blog-img img{
    width: 100%;
    /* height: 30rem; */
    object-fit: cover;
}

.blog-main .blog-details{
 flex: 1 1 40rem;
 justify-content: center;
 align-items: flex-start;
 display: flex;
 flex-direction: column;
}

.blog-main .blog-details h4{
font-size: 3rem;
font-weight: 600;
margin: 2rem 0rem 2rem 0rem;
}

.blog-main .blog-details p{
    margin: rem 0rem 2rem 0rem;
    line-height: 2rem;
    font-weight: 550;
 
}

.blog-main .blog-details a{
    margin-top: 2rem;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s;
    position: relative;
}

.blog-main .blog-details a:after{
    content: "";
    position: absolute;
    right:-8rem;
    top:1.3rem;
    height: .4rem;
    width: 8rem;
    transition: all 0.5s;

    background: #333;
}

.blog-main .blog-details a:hover{
    color: var(--lg-green);
}
.blog-main .blog-details a:hover::after{
    background: var(--lg-green);
}



/* #page-header  .page-main .benner-4{
    padding: 6rem 0rem 6rem;
    background: url('img/banner/b19.jpg');
    width: 100%;
    text-align: center;
    color: #eee;
} */




#page-header  .page-main .benner-3 h1{
color: #eee;
font-weight: 500;
margin-bottom: 1rem;
}

#page-header  .page-main .benner-3 p{
color: #f3f1f1;
font-weight: 500;
font-size: 2.5rem;
}


#page-nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.page-num{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.page-num a{
    background: var(--lg-green);
    padding: 2.5rem;
    font-size: 2rem;
    color: #eee;
    text-decoration: none;
    border-radius: .5rem;
}
.page-num a ion-icon{
    font-size: 2rem;
}

.page-num a:hover{
    background: #086861;
    }
    

.green-ho:hover{
background: #086861;
}

#benner h4 {
    color: #eee;
    font-weight: 500;
    margin-bottom: 2rem;
}

#benner h2 {
    color: #eee;
    font-weight: 400;
    margin-bottom: 2rem;
}

#benner h2 span {
    color: rgb(241, 95, 95);
    font-weight: 500;
    margin-bottom: 2rem;
}


.benner-1 {
    background: url("img/banner/b2.jpg");
}



#se-benner{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    gap: 2.5rem;
}
#se-benner div .benner-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    
    border-radius: .5rem;
    overflow: hidden;
    padding: 4rem 0rem 4rem 0rem;
        padding-left:8rem ;
    line-height: 5rem;
    flex-direction: column;
    flex-wrap: wrap;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
   background: url(img/banner/2.jpg)  no-repeat;
   
}


#se-benner div .benner-box h4{
    margin-bottom: 1rem;
    color: #444;
    font-weight: 600;
    font-size: 3rem;
}

#se-benner div .benner-box h2{
    color:var(--light-black);
    font-size: 3.5rem;
}

#se-benner div .benner-box span{
    font-size: 2rem;
    color: #333;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

#se-benner .row-1{
display: flex;
flex-direction: row;
gap: 2.5rem;
}

#se-benner .row-1 .benner-box:nth-child(1) {
    background: url("img/banner/2.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner div .benner-box .btu{
    background: transparent;
    border: .3rem solid #eee;
    color: #eee;
    padding: .4rem 2rem .4rem 2rem;
    font-size: 700;
    font-size: 2.5rem;
    
}

#se-benner .row-1 .benner-box:nth-child(2) {
    background: url("img/banner/b3.jpg") no-repeat  center;
    background-size: cover;
}


#se-benner .row-2 .benner-box:nth-child(1) {
    background: url("img/banner/b4.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner .row-2 .benner-box:nth-child(2) {
    background: url("img/banner/b17.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner .row-2 .benner-box:nth-child(3) {
    background: url("img/banner/b7.jpg") no-repeat  center;
    background-size: cover;
}

#se-benner .row-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    grid-gap: 2.5rem;
    width: 100%;
    padding-left: 0rem;
}

#se-benner .row-2 .benner-box{
    padding-left: 4rem;
}

#se-benner .row-2 span{
    color: var(--red);
}
/* ------------newletter section css ------------ */

#newsletter .benner-2 {
    background: url("img/banner/b14.png") no-repeat;
    background-size: cover;
    background:#0a1338;
    background-position: 20% 30%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 2rem 0rem ;
    flex-wrap: wrap;
   }


   #newsletter{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
/* #newsletter{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-img: url("img/banner/b14.png") ;
   background-position: left;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   background: #000;
} */


#newsletter .new-box{
    
    display: flex;
    /* flex: 1 1 40rem; */
    flex-direction: column;
    color: #eee;
        margin-bottom: 1.3rem;
    height: 100%;

}

.benner-2 .new-box h2{
color: #eee;
font-weight: 500;
font-size: 3.5rem;
margin:0;
margin-bottom: 1rem;
}

.new-box p{
color:#ddd;
font-weight: 400;
font-size: 2rem;
}

 .benner-2 .benner-box p span{
    color:var(--creem);
}

#newsletter .email-box{
    display: flex;
    flex-direction: row;
    gap: 0rem;
    justify-content: center;
    align-content: center;
}
.email-box input{
    background: #eee;
    padding: 1.5rem 2rem 2rem 1.5rem ;   justify-content: center;
        align-content: center; 
    border: none;
   border-top-right-radius: 0;
   border-top-right-radius: none;
    outline: none;
    font-size: 2rem;
    border-radius: .5rem;
}

.email-box .btu{
background: var(--lg-green);
color: #eee;
font-size: 1.5rem;
padding-top: 2rem;
}



/*-----------------footer section csss---------*/

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10rem;
    margin: 8rem 0rem 1rem 0rem;
    flex-direction: row;
}

footer .col{
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
}

footer .col img{
    margin-bottom: 3rem;
    /* display: inline-block; */
    width: 20rem;

}

footer .col h4{
font-size: 2.3rem;
margin-bottom: 1rem;
}

footer .col .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3rem;
    margin: 1rem 1rem;

}

footer .col .row img{
    width: 8rem;
    padding: 0;
    margin: 0;
}
footer .col a{
    font-size: 2rem;
    color: #555;
    font-weight: 500;
    text-decoration: none;
}
footer .col .icons{
    margin-top: 3rem;
}

footer .col .icons h4{
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

footer .col .icons .icon ion-icon{
font-size: 1.8rem;
}


 .copyright{
    /* background: #eee; */
    width: 100%;
    padding: 2rem;
    text-align: center;
    
}

@media (max-width: 998px){
    html{
        font-size: 50%;
    }
}
@media (max-width: 768px){
    html{
        font-size: 45%;
    }
  .product{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:600px){

html{
    font-size: 40%;
}
    .navbar{
     flex-direction: column;
     position:fixed;
     background: #eee;
     padding: 2rem;
    right: 100%;
     width: 100%;
     text-align: center;
     top: 0;
     padding-top: 4rem;
     height: 100vh;
    }

    #menu-btu{
        display: block;
    }


    .navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    background: transparent;
    display: none;
}

    .close{
        position: absolute;
        top:2rem;
        left: 2rem;
    }
    
.product {
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2rem;
}

.product .pro-box{
  font-size:1rem;
}

.blog-main{
    flex-direction: column;
    gap: 0rem;
}

.blog-main .blog-details{
    flex:1 1 20rem
}
    
.hero{
  background-size: cover;
  background-position: top 5rem right -30rem;
  padding-left: 2rem;
  height: 100vh;
  font-size: 3rem;
  line-height: 1.5rem;
  
}

.hero h4{
  font-size: 2rem;
  padding-bottom: 0;
    line-height: 1rem;

}

.hero h2{
  font-size: 2.5rem;
  margin: 0;
    line-height: 1.5rem;

  font-weight: 600;
}

.hero h1{
  font-size: 3.5rem;
    line-height: 1.5rem;

}
.hero p{
  font-size: 1.8rem;
 padding-bottom: .5rem;
}
.hero .btu{
  margin-left: 2rem;
  font-size: .5rem;
  padding: .5rem;
  color:#eee;
background: var(--lg-green);
}

#newsletter {
    flex-direction: column;

}
}